html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Kumbh Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--background-color-purple), var(--background-color-blue));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}