html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    var(--background-color-purple),
    var(--background-color-blue)
  );
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 980px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
