.attribution {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  margin-bottom: 5rem;

  a {
    color: orange;
    font-weight: 600;
  }
}

@media screen and (min-width: 980px) {
  .attribution {
    margin-top: 5rem;
  }
}
