.container {
  margin-inline: 100px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  align-items: center;
  height: 500px;
  // width: 760px;
  width: min(100%, 760px);

  background-color: #ffffff;
  border-radius: 30px;
  padding: 0;

  &__image {
    background-image: url("../../images/bg-pattern-desktop.svg");

    .box-image {
      width: 40%;
      position: relative;
      right: 100px;
      top: 130px;
      z-index: 1;
    }

    .main-image {
      width: 320px;
      position: relative;
      right: 80px;
      top: -90px;
      overflow: hidden;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin: 20px 50px;
    height: 80%;

    .accordion__title {
      align-self: flex-start;
      margin-top: 0;
    }

    .accordion__questions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
    }
  }
}

.question-answer {
  padding: 5px 0;
  border-bottom: 1px solid rgb(199, 199, 199);

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      cursor: pointer;
    }
  }

  &__answer {
    display: none;
  }
}

.active {
  .question-answer__question p {
    font-weight: 700;
    color: #000;
    font-size: 1.1rem;
  }

  .question-answer__answer {
    display: inline;
    padding-bottom: 10px;
    color: var(--dark-blue);
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin-top: 200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-template-rows: 15% 85%;

    width: 350px;

    height: auto;

    &__image {
      .box-image {
        display: none;
      }

      .main-image {
        width: 250px;
        right: -50px;
        top: -60px;
      }
    }

    &__accordion {
      padding: 20px;
      margin: 0px;

      .accordion__title {
        align-self: center;
      }
    }
  }
}
