.container {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  width: 32.7rem;
  align-items: center;
  background-color: #fff;
  border-radius: 3rem;
  position: relative;

  &__image {
    position: absolute;
    left: 4.5rem;
    top: -10.5rem;
    right: 0;
    width: 23.7rem;
    height: 18rem;
    background-image: url("../../assets/images/bg-pattern-desktop.svg");

    .box-image {
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: 6rem;
      z-index: 1;
    }

    .main-image {
      width: 23.7rem;
      height: 18rem;
      position: absolute;

      overflow: hidden;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    padding-top: 11.2rem;

    justify-content: center;
    margin: 2rem 5rem;
    height: 80%;

    .accordion__title {
      align-self: flex-start;
      margin-top: 0;
    }

    .accordion__questions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
    }
  }
}

.question-answer {
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid rgb(199, 199, 199);

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      cursor: pointer;
    }
  }

  &__answer {
    display: none;
  }
}

.active {
  .question-answer__question p {
    font-weight: 700;
    color: #000;
    font-size: 1.1rem;
  }

  .question-answer__answer {
    display: inline;
    padding-bottom: 1rem;
    color: var(--dark-blue);
  }
}

@media screen and (min-width: 900px) {
}
