.container {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  width: 32.7rem;
  align-items: center;
  background-color: #fff;
  border-radius: 3rem;
  position: relative;

  &__image {
    position: absolute;
    left: 4.5rem;
    top: -10.5rem;
    right: 0;
    width: 23.7rem;
    height: 18rem;
    background-image: url("../../assets/images/bg-pattern-desktop.svg");

    .box-image {
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: 6rem;
      z-index: 1;
    }

    .main-image {
      width: 23.7rem;
      height: 18rem;
      position: absolute;

      overflow: hidden;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    padding-top: 11.2rem;

    justify-content: center;
    margin: 2rem;
    width: 100%;

    .accordion__title {
      align-self: center;
      font-size: 3.2rem;
      margin-top: 0;
    }

    .accordion__questions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding-inline: 2.5rem;
    }

    .question-answer__question,
    .question-answer__answer {
      font-size: 1.3rem;
      cursor: pointer;
    }

    .question-answer__question {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .question-answer__answer {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in;
    }
  }
}

.active {
  .question-answer__question {
    font-weight: 700;
  }

  .question-answer__answer {
    height: 4.8rem;
  }
}
